<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container fullscreen class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button mat-button (click)="close()">
        <=</button>
    </p>
    <mat-list>
      <a mat-list-item (click)="onRowClicked(1)">
        <mat-icon svgIcon="home"></mat-icon>Home</a>

      <mat-divider></mat-divider>
      
      <a mat-list-item  (click)="onRowClicked(2)">  <h3 matLine>Form</h3></a>

      <mat-divider></mat-divider>

      <a mat-list-item href="https://angular.io">
        <h3 matLine>Angular</h3>
    </a>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          expansion title
        </mat-panel-title>
        <mat-panel-description>
          content
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        This is the expansion title
      </mat-expansion-panel-header>

      <p>primary content </p>

      <mat-action-row>
        <button mat-button>Click me</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-button (click)="sidenav.open()">Open</button>
      <button class="overflow" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon='moreSvg'></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    
    <div class = 'below-content'>
    <app-home *ngIf = "page == 1"></app-home>
    <app-sign-up *ngIf = "page == 2"></app-sign-up>
    </div>
   
  </mat-sidenav-content>
  
</mat-sidenav-container>

